/*colors*/
* {
  font-family: "Overpass", sans-serif;
}
html {
  --dark: #231f20;
  --pink: #b76567;
  --brown: #2e140c;
  --white: #ffffff;
  --orange: #d06809;
  --beige: #dcc3ab;
  --orange-hover: #f37400;
  --pink-hover: #e07b7d;
}



/*Header*/
header {
  background: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 0;
}

#language-selector {
  display: flex;
  gap: 0px;
  flex-direction: row;
  padding-right: 83px;
  text-transform: uppercase;
}

.language-selector-font {
  font-weight: 700;
}

header nav div p {
  padding: 4px 4px 4px 4px;
  margin: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  min-width: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 18px;
  padding: 0;
}

#Header_icons {
  display: flex;
  gap: 10px;
}

header nav div a {
  padding: 10px 10px 6px 10px;
}

/*body*/

h1 {
  color: var(--white);
  font-family: "Dancing Script";
  font-size: 100px;

}


h2 {
  color: var(--dark);
  font-family: "Nanum Myeongjo";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.product_name,
.price {
  color: var(--dark);
}

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 10%;
  margin-left: 10%;
}

.Categories {
  width: 80%;
}

.product_name {
  text-align: justify;
}

body {
  background-image: url(icons/Backgroud\ icon.svg);
  margin: 0;
}
.section-first-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(pictures/home\ page\ product\ image.png);
  background-position: center;
  height: 55vw;
}
.advantages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--orange);
  color: var(--white);
  font-size: 20px;
}

/*Footer*/

footer {
  background-color: var(--brown);
}
