/*colors*/

html {
  --dark: #231f20;
  --pink: #b76567;
  --brown: #2e140c;
  --white: #ffffff;
  --orange: #d06809;
  --beige: #dcc3ab;
  --orange-hover: #f37400;
  --pink-hover: #e07b7d;
}


/*Body*/

nav {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  padding: 10px 0;  
}  
  
nav ul {  
  display: flex;  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
}  
  
nav ul li {  
  position: relative;  
  margin-right: 50px;  
  display: flex;  
  align-items: center;
}  
  
nav ul li a {  
  color: var(--dark);  
  text-decoration: none;  
}  

#language-selector {
  margin-left: 200px;
}

#Header_icons {
  margin-right: 200px;
}

p {
  font: Overpass, Regular;
}

h1{
color: var(--white)
}

h2,
h3 {
  font: Nanum Myeongjo, ExtraBold;
  font-size:50px;
  text-align: center;
}



.product_name, .price{
color: #231f20;
}



.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Categories {
  width: 80%;
}

.product_name {
  text-align: justify;
}

body {
  background-image: url(icons/Backgroud\ icon.svg);
  margin: 0;
}
.section-first-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(pictures/home\ page\ product\ image.png);
  background-position: center;
  height: 55vw;
}
.advantages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--orange);
  color: var(--white);
  font-size: 20px;
}

/*Footer*/

footer{
  background-color: var(--dark);
}

.topnavigation{
  height: 70px;
  display: block;
  
}