/*colors*/
* {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: Pecita;
    src: url(fonts/Pecita.otf);
  }
  
  html {
    --dark: #231f20;
    --pink: #b76567;
    --brown: #2e140c;
    --white: #ffffff;
    --orange: #d06809;
    --beige: #dcc3ab;
    --orange-hover: #f37400;
    --pink-hover: #e07b7d;
  }
  
  /*Header*/
  header {
    background: transparent;
  }
  
  .sticky /* this is for fixed header, we will do it in js later*/ {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px 0;
  }
  
  #language-selector {
    display: flex;
    gap: 0px;
    flex-direction: row;
    padding-right: 83px;
    text-transform: uppercase;
  }
  
  .language-selector-font {
    font-weight: 700;
  }
  
  header nav div p {
    padding: 4px 4px 4px 4px;
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    min-width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  header nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .Header-icons-container {
    display: flex;
    gap: 20px;
  }
  
  header nav div a {
    padding: 10px 10px 6px 10px;
  }
  
  .Header_logo {
    height: 50px;
  }

/*MAIN*/

  body {
    background-image: url(icons/Backgroud\ icon.svg);
    margin: 0;
  }

  h1 {
    color: var(--dark);
    font-family: "Nanum Myeongjo", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    padding-top: 10vw;
  }

  .category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px 0;
    padding-top: 10vw;
    text-decoration: none;
    color: var(--dark);
  }

    .categories{
        color: var(--dark);
        text-decoration: none;
    }

  .productsA{
    text-align: justify;
    color: var(--dark);
    text-decoration: none;
   }
   
   .product_name,
   .price {
     text-align: justify;
     color: var(--dark);
     text-decoration: none;
   }

  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 10vw;
    margin-left: 10vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
  }
  
  .Products {
    width: 80%;
    
  }
  
  .product_name{
    text-decoration: none;
  }

  /*Footer*/

footer {
  background-color: var(--brown);
  padding-top: 50px;
  padding-bottom: 20px;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer-links-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 60px;
}
footer nav section ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.footer-text-underlined {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  color: var(--white);
  list-style-type: none;
}

.footer-text-underlined :hover {
  color: var(--pink-hover);
  text-decoration-line: underline;
  text-decoration-color: var(--pink-hover);
}

.footer-text {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
}

.footer-text :hover {
  color: var(--pink-hover);
}

.Footer_icons-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.Footer-icons {
  padding: 8px 8px 6px 8px;
}

.Footer_logo {
  max-width: 350px;
}

footer p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 100;
  padding-top: 20px;
}

@media screen and (max-width: 1400px) {
  .Footer_logo {
    max-width: 250px;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-text-underlined {
    font-size: 14px;
  }
}
